{{template "header" }}



<div class="row" style="padding: 20px;">
	<div class="col-md-3" >
	
	</div>

	<div class="col-md-3" >
<h3 style="color: #478ccf;">Post: {{.Post.Id}}</h3>
	</div>
	

	<div class="col-md-3" >

	</div>
	<div class="col-md-3" >

	</div>
</div>

{{with .Post}}

{{template "topik-theme" .}}
{{end}}



{{with .Comments}}
{{range .}}
<div class="container">
    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">
        <div class=" panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="color: #478ccf;">Comment:</h3>
                <div class="pull-right">
                    <form action="/comment/like" method="POST">
                        <input type="hidden" name="post_id" value="{{ .PostId}}">
                        <input type="hidden" name="action" value="like">
                        <input type="hidden" name="comment_id" value="{{.Id}}">
                        <button class="pull-right glyphicon glyphicon-heart-empty" type="submit "> {{.Like}} Like</button>
                    </form>
                    
                    <form action="/post/like" method="POST">
                        <input type="hidden" name="post_id" value="{{ .PostId }}">
                        <input type="hidden" name="action" value="dislike">
                        <input type="hidden" name="comment_id" value="{{.Id}}">
                        <button class="pull-right glyphicon glyphicon-heart" type="submitglyphicon "> {{.Dislike}} Dislike</button>
                    </form>
                </div>
                <h3 class="username" style="font-size: 15px;">Username: {{.UserName}}</h3>
    
            </div>
            <div class="panel-body">
                {{.Text}}
            </div>
        </div>
    </div>


    <div class="col-xs-2">
     
    </div>
</div>


{{end}}
{{end}}
{{with .Post}}
{{ template "comment" .}}
{{end}}

{{ template "footer" }}




