{{ define "index" }}
{{ template "header" }}


<div class="row" style="padding: 20px;">
	<div class="col-md-4">
	</div>

	<div class="col-md-1" >
		<h4 class="text-center" data-value="all"><a href="/">All</a></h4>
	</div>

	<div class="col-md-1" >
		<h4 class="text-center" data-value="golang"><a href="/view?theme=golang">Golang</a></h4>
	</div>

	<div class="col-md-1" >
		<h4 class="text-center" data-value="js"><a href="/view?theme=js">JavaScript</a></h4>
	</div>

	<div class="col-md-1" >
		<h4 class="text-center" data-value="rust"><a href="/view?theme=rust">Rust</a></h4>
	</div>
	<div class="col-md-4" >
		
	</div>
	



	


	



	<div class="col-md-4" >
		<!-- <div class="container_footer" >

            <form action="/ascii-art" method="POST" >
            
                <select name="font" class="btn btn-info" >
					<option class="optionfiltr" value="Created" style="font-size: 100%;" >All posts</option>
                    <option class="optionfiltr" value="Created" style="font-size: 100%;" >Created posts</option>
                    <option class="optionfiltr" value="Liked" style="font-size: 100%;" >Liked posts</option>                 
                </select>
                <button id="btn-signup" value="go" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Go</button>
            </form> -->
            
            
        </div>
	</div>
</div>

<div class="row" style="padding: 20px;">
	<div class="col-md-4" >
		
	</div>

	<div class="col-md-2">
		<h4 class="text-center"><a href="/">Liked posts</a></h4>
	</div>
	<div class="col-md-2" >
		<h4 class="text-center"><a href="/">Created posts</a></h4>
	</div>

	<div class="col-md-4" >
		
	</div>
</div>



<div class="row" style="padding: 20px;">
	<div class="col-md-3" >
	
	</div>

	<div class="col-md-3" >
<h3 style="color: #478ccf;">Posts:</h3>
	</div>
	

	<div class="col-md-3" >

	</div>
	<div class="col-md-3" >

	</div>
</div>


{{ if . }}

{{ range $keys, $values := . }}

<div class="container">

	<div class="col-xs-2">
	
	</div>

	<div class="col-xs-8">
		<div class=" panel panel-default">
		<div class="panel-heading">
			<h1 style="color: #478ccf;" class="panel-title"><a href="/edit?id={{$keys}}"> {{$values.Title }}-|{{$values.Theme}}|</a></h1>
			<h3 class="username" style="font-size: 15px;">@Username</h3>
		</div>
		<div class="panel-body">
			{{ $values.Content }}
		</div>
	</div>
	</div>
	
	
		
		
		
	
	<div class="col-xs-2">
	</div>

</div>




<div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		
		
	</div>
	<div class="col-xs-3">
	</div>
</div>




{{ end }}
{{else}}
<p class="text-center">  Тут пока ничего нет <a href="/create" > Создать </a></p>
{{ end }}
{{ template "footer" }}
{{ end }}