{{ define "view" }}
{{ range $key, $value := . }}
<br>
<div class="container" >
	<div class="col-xs-2">
		
	</div>

	<div class="col-xs-8">
	<div class=" panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title" style="color: blue;"><a href="/edit?id={{$key}}">{{$value.Title }}</a>
		  <h3 class="username" style="font-size: 15px;">@Username</h3>

		</div>
		<div class="panel-body">
			{{ $value.Content }}
		</div>
	  </div>
	</div>
	
	  
	<!-- <div class="col-xs-8" style="background-color: rgb(95, 95, 95)" padding="2%">
		<h1><a href="/edit?id={{$key}}"> {{$value.Title }}</a></h1>
		
			{{ $value.Content }}
	</div> -->
	<div class="col-xs-2">
	</div>
</div>


<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
	
	</div>
	<div class="col-xs-2">
	</div>
</div>


{{ end }}
{{ template "comment" }}

{{ template "footer" }}
{{end}}




